name = "kiosk"
description = "Example Kiosk"
version = "0.0.8"
modules = []
groups = []

[[packages]]
name = "kiosk-config"
version = "*"

[[packages]]
name = "cockpit"

[[packages]]
name = "htop"

[[packages]]
name = "microshift-manifests"
version = "*"

[[packages]]
name = "cockpit-system"

[customizations]
hostname = "kiosk.local"

[customizations.services]
enabled = ["cockpit.socket", "sshd", "microshift", "rpm-ostreed", "rpm-ostreed-automatic.timer"]

[customizations.timezone]
timezone = "Europe/Paris"
ntpservers = ["0.fr.pool.ntp.org", "1.fr.pool.ntp.org"]

[customizations.locale]
languages = ["fr_FR.UTF-8"]
keyboard = "fr"

#22 ssh / 9090 cockpit / 6443 microshift
[customizations.firewall]
ports = ["22:tcp", "30000:tcp", "9090:tcp", "6443:tcp"]

##
## Automatic updates
##
## This file is used by the rpm-ostreed service that is triggered by the
## rpm-ostreed-automatic systemd timer:
##
##   [Timer]
##   OnBootSec=1h           # 1 hour after boot
##   OnUnitInactiveSec=1d   # 1 day after last check
##
## But you can trigger a check manually with:
##
##  sudo rpm-ostree upgrade --trigger-automatic-update-policy
##
[[customizations.files]]
path = "/etc/rpm-ostreed.conf"
data = """[Daemon]
AutomaticUpdatePolicy=apply
"""

[[customizations.user]]
name = "admin"
description = "admin"
password = '{{ blueprint_admin_password_hash }}'
key = "{{ blueprint_admin_ssh_public_key }}"
home = "/home/admin/"
shell = "/usr/bin/bash"
groups = ["users", "wheel"]

[[customizations.user]]
name = "kiosk"
description = "kiosk"
password = '{{ blueprint_kiosk_password_hash }}'
home = "/home/kiosk/"
shell = "/bin/bash"

